:root {
  --background: #f2f2f2;
  --text-primary: #0f0f0f;
  --text-secondary: #4e4e4e;
  --border: #1f1e1e;
  --shadow: 7px 15px 13px -4px #00000056;
}

[data-theme="dark"] {
  --background: #05010a;
  --text-primary: #f2f2f2;
  --text-secondary: #a7a4a4;
  --border: #696969;
  --shadow: 7px 15px 13px -4px #ffffff1b;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}
.card {
  background-color: var(--background);
  color: var(--text-primary);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-primary);
}
